.about_us {
  background-color: #ceffe2;
  padding: 100px 150px;
}

.about_us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about_us-text {
  width: 50%;
}

.about_us-map {
  width: 50%;
  height: 700px;
}

.about_us-text h3 {
  font-size: 1.6rem;
  font-family: "Segoe-bold";
  margin-bottom: 20px;
}
.about_us-text h4 {
  font-size: 20px;
  font-family: "Segoe-bold";
  margin-bottom: 20px;
}

.about_us-for_tourists {
  padding-bottom: 25px;
}
.about_us-for_tourists p {
  padding-left: 32px;
  font-family: "Segoe-normal";
  font-size: 16px;
}
.about_us-for_tourists span:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  background-image: url("../../../public/img/phone.png");
}

.about_us-operating_departments {
  padding-bottom: 25px;
}
.about_us-operating_departments div {
  padding-bottom: 10px;
}
.about_us-operating_departments p {
  padding-left: 32px;
  font-family: "Segoe-normal";
  font-size: 16px;
}
.about_us-operating_departments span:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  background-image: url("../../../public/img/email.png");
}

.about_us-contact p {
  padding: 0 0 15px 32px;
  font-family: "Segoe-normal";
  font-size: 16px;
}

.about_us-contact-location:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  background-image: url("../../../public/img/location.png");
}

.about_us-contact-clock:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  background-image: url("../../../public/img/clock.png");
}

@media screen and (max-width: 940px) {
  .about_us-container {
    display: block;
  }
  .about_us-text {
    width: 100%;
  }
  .about_us-map {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  .about_us {
    padding: 50px;
  }
}