@import '../font/stylesheet.css';
@import '../components/header/header.css';
@import '../components/main/main.css';
@import '../components/house_on_wheels/house_on_wheels.css';
@import '../components/world/world.css';
@import '../components/main-slider/main-slider.css';
@import '../components/car/car.css';
@import '../components/footer/footer.css';
@import '../components/about_us/about_us.css';
@import '../components/istoriya-vozniknoveniya-puteshestviy-i-turizma/istoriya-vozniknoveniya-puteshestviy-i-turizma.css';
@import '../components/ticket-cards/ticket-cards.css';
@import '../components/tours-page/tours-page.css';
@import '../components/dropdown/dropdown.css';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1920px;
}