.istoriyaTurizma {
  background-color: #264257;
  background-image: url("../../../public/img/bg-istoria.png");
  padding: 100px 150px;
}
.istoriyaTurizma h1, .istoriyaTurizma p {
  color: #FFFFFF;
}

.istoriyaTurizma-text-top h1 {
  text-align: center;
  font-family: "Segoe-600";
  font-size: 40px;
  padding-bottom: 30px;
}
.istoriyaTurizma-text-top p {
  padding-bottom: 25px;
  opacity: 70%;
  font-family: "Segoe-600";
  font-size: 20px;
  line-height: 26px;
}

.istoriyaTurizma-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.istoriyaTurizma-text-bot {
  margin-left: 20px;
  padding-bottom: 25px;
  opacity: 70%;
  font-family: "Segoe-600";
  font-size: 20px;
  line-height: 26px;
}

@media screen and (max-width: 1650px) {
  .istoriyaTurizma-img {
    display: block;
  }
  .istoriyaTurizma-img img {
    max-height: 900px;
  }
  .istoriyaTurizma-text-bot {
    padding: 15px 0 0 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 960px) {
  .istoriyaTurizma-img {
    max-width: 770px;
  }
  .istoriyaTurizma-img img {
    max-width: 100%;
  }
}
@media screen and (max-width: 790px) {
  .istoriyaTurizma {
    padding: 100px 50px;
  }
}