.world {
  height: 1120px;
  background-color: #264257;
}

.world-text {
  text-align: center;
  padding-top: 100px;
}
.world-text h1 {
  color: #FFFFFF;
  font-family: "Segoe-normal";
  font-size: 44px;
}
.world-text p {
  padding-top: 15px;
  opacity: 70%;
  font-family: "Segoe-600";
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
}

.world-img {
  text-align: center;
}
.world-img img {
  max-width: 1670px;
  width: 100%;
}

@media screen and (max-width: 1120px) {
  .world {
    max-height: 1120px;
  }
  .world-text h1 {
    font-size: 38px;
  }
  .world-text p {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 800px) {
  .world {
    max-height: 800px;
  }
}